node_modules/
build/
dist/
.idea/
.vscode/
scripts/
.eslintrc.js


src/api
src/hooks
src/features/booking

#src/features/admin/ScreenSettings
#src/features/admin/SearchWindows
#src/features/admin/ServiceBookModal
#src/features/admin/ServiceBooks
#src/features/admin/ServiceBookSettingsModal
#src/features/admin/ServiceCategories
src/features/admin/ServiceCenters
src/features/admin/ServiceRequests
src/features/admin/SideBar
src/features/admin/TechniciansTable
src/features/admin/TimeOfDayDesirability
src/features/admin/TimeOfDayPricing
src/features/admin/TimeRangesAndCapacity
src/features/admin/TimeWindows
src/features/admin/Transportations
#src/features/admin/UnplannedDemand
src/features/admin/UrgentRequests
src/features/admin/ValueIndicatorsTable
#src/features/admin/VariableDemand
src/features/admin/ZoneRouting
src/features/admin/AdminLogin
src/features/admin/Agent
src/features/admin/AncillaryPriceByDistance
src/features/admin/AncillaryPriceByZone
src/features/admin/ApplicationMakes
src/features/admin/ApplicationModels
src/features/admin/AppointmentAllocation
src/features/admin/Appointments
src/features/admin/AvailableStaffCalendar
src/features/admin/BaseScheduleByEmployee
src/features/admin/BaseScheduleSummary
src/features/admin/BookingFlowConfig
src/features/admin/BreaksModal
src/features/admin/CapacityAdvisors
src/features/admin/CapacitySettingsTable
src/features/admin/CapacityTechnicians
src/features/admin/CenterSettings
src/features/admin/ComplimentaryServices
src/features/admin/CustomerLifetimeRules
src/features/admin/DealershipGroupDetails
src/features/admin/DealershipGroups
#src/features/admin/DemandPrediction
#src/features/admin/DemandPredictionTable
#src/features/admin/DemandSegments
#src/features/admin/DemandSegmentsDesirability
#src/features/admin/DemandSegmentsModal
#src/features/admin/DemandSegmentsTable
src/features/admin/EditAddressModal
src/features/admin/Eligibility
src/features/admin/EmailVerification
src/features/admin/EmployeeAssignmentModal
src/features/admin/Employees
src/features/admin/EmployeesScheduleManagement
src/features/admin/EmployeeTimeScheduleSetUp
src/features/admin/EndOfWarranty
src/features/admin/EngineTypes
src/features/admin/FirstScreenOptions
src/features/admin/ForgotPassword
src/features/admin/HolidaysModal
src/features/admin/HourOfOperationsModal
src/features/admin/IntervallUpsell
src/features/admin/LaborRateModal
src/features/admin/MaintenancePackages
src/features/admin/MakesModels
src/features/admin/ManageExEFAppointments
src/features/admin/MaxPriceDateRange
src/features/admin/Mileage
src/features/admin/NavBar
src/features/admin/NewLostCustomer
src/features/admin/NotificationsModal
src/features/admin/OfferManagement
src/features/admin/OverbookingFactor
src/features/admin/PartsAvailability
src/features/admin/PriceCalculations
src/features/admin/PricingLevels
src/features/admin/PricingMobileService
src/features/admin/PricingServiceValet
src/features/admin/ProbabilityApproach
src/features/admin/Profiles
src/features/admin/ProximityTable
src/features/admin/RecallsAllOtherParts
src/features/admin/RecallsParts
src/features/admin/RemindersModal
src/features/admin/Reporting
src/features/admin/RequiredSkills
src/features/admin/ResetPassword
src/features/admin/RoPredictionParameters
