node_modules/
build/
dist/
.idea/
.vscode/
scripts/
.eslintrc.js


src/api
src/hooks
src/features/booking



#src/features/admin/HourOfOperationsModal
#src/features/admin/IntervallUpsell
#src/features/admin/LaborRateModal
#src/features/admin/MaintenancePackages
#src/features/admin/MakesModels
#src/features/admin/ManageExEFAppointments
#src/features/admin/MaxPriceDateRange
#src/features/admin/Mileage
#src/features/admin/NavBar
#src/features/admin/NewLostCustomer
#src/features/admin/NotificationsModal
src/features/admin/OfferManagement
src/features/admin/OverbookingFactor
src/features/admin/PartsAvailability
src/features/admin/PriceCalculations
src/features/admin/PricingLevels
src/features/admin/PricingMobileService
src/features/admin/PricingServiceValet
src/features/admin/ProbabilityApproach
src/features/admin/Profiles
src/features/admin/ProximityTable
src/features/admin/RecallsAllOtherParts
src/features/admin/RecallsParts
src/features/admin/RemindersModal
src/features/admin/Reporting
src/features/admin/RequiredSkills
src/features/admin/ResetPassword
src/features/admin/RoPredictionParameters
