@font-face {
  font-family: "Proxima Nova";
  src: local('Proxima Nova'), url('./assets/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*body * {*/
/*  box-sizing: border-box;*/
/*}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
